<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>UFC Fight Card Splitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FreeHTML5.co" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <meta name="author" content="FreeHTML5.co" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
    
    <!-- Animate.css -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/animate.css') }}">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/icomoon.css') }}">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/simple-line-icons.css') }}">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
    <!-- Style -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <!-- Modernizr JS -->
    <script src="{{ url_for('static',filename='js/modernizr-2.6.2.min.js') }}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="{{ url_for('static',filename='js/respond.min.js') }}"></script>
    <![endif]-->
    <style>
    .container  { width: 100%; clear: both; height: 100% } 
    .container input { { width: 100px; clear: both; } }
    .container  { display: flex; } 
    .container  {align-items: flex-start; } 
    .navigation  {display: flex; flex-flow: row wrap; justify-content: flex end } 
    @media all and (max-width: 800px)  {
        .navigation { {} } justify-content: space-around;} }    } }
    @media all and (max-width: 500px){ {} }
        .navigation {  flex-direction: column;} 
    input [type="text"], textarea { {} }
        background-color : d1d1d1;
    } }
    </style>
    <form action="{{ url_for('split') }}" method="post">
    <section id="fh5co-home" data-section="home" style=";" data-stellar-background-ratio="0.5">
        <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="to-animate">Please Input the Event Type and Number</h1>
                            <h2 class="to-animate">
                                <div>
                                     <select name="EventType">
                                      <option value="ppv">PPV</option>
                                      <option value="fightNight">Fight Night</option>
                                      <option value="espn">ESPN</option>
                                    </select> 
                                    <input type = "text" name = "cardNumber" placeholder = "Card Number">
                                    <input type = "submit" class = "btn" value="Submit">
                                </div>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </form>
 
    
    <!-- jQuery -->
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <!-- jQuery Easing -->
    <script src="{{ url_for('static',filename='js/jquery.easing.1.3.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <!-- Waypoints -->
    <script src="{{ url_for('static',filename='js/jquery.waypoints.min.js') }}"></script>
    <!-- Stellar Parallax -->
    <script src="{{ url_for('static',filename='js/jquery.stellar.min.js') }}"></script>
    <!-- Counters -->
    <script src="{{ url_for('static',filename='js/jquery.countTo.js') }}"></script>
    <!-- Main JS (Do not remove) -->
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
    </body>
</html>
