
<!DOCTYPE html>
<html lang="en">
<head>
<style>
.floatLeft { width: 75%; float: left; }
.floatRight {width: 25%; float: right; }
.container { overflow: hidden; }
</style>
    <meta charset="UTF-8">
</head>


<body>
    <table id="FightCard"
    <caption>UFC FightCard Results</caption>
{% for table in tables %}
            {{ table|safe }}
{% endfor %}




<form action = '/ufc' method = "post">
Filename: <input type = "text" name = "ufcCard"><br />
First Fight Start: <input type = "text" name = "firstFightStart"><br />
First Fight End: <input type = "text" name = "firstFightEnd"><br />
Second Fight Start: <input type = "text" name = "secondFightStart"><br />
Second Fight End: <input type = "text" name = "secondFightEnd"><br />
Third Fight Start: <input type = "text" name = "thirdFightStart"><br />
Third Fight End: <input type = "text" name = "thirdFightEnd"><br />
Fourth Fight Start: <input type = "text" name = "fourthFightStart"><br />
Fourth Fight End: <input type = "text" name = "fourthFightEnd"><br />
Fifth Fight Start: <input type = "text" name = "fifthFightStart"><br />
Fifth Fight End: <input type = "text" name = "fifthFightEnd"><br />

<input type = "submit" value = "Submit" />
</form>

</html>

